/*---------- CSS Reset ----------*/

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

/*--------- MAIN STYLING --------*/
body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal
  color: #534858;
  background-color: #f5f5f5;
  text-align: left;
}

section{
  width: 80%;
  max-width: 600px;
  margin: auto;
}

/*------ TYPOGRAPHY ------*/
h1 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 6.5em;
  text-align: left;
  color: #cd8928;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-align: left;
  color: #cd8928;
}

h3 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 1.9em;
  text-align: left;
  margin-top: 4em;
  margin-bottom: 1em;
  color: #cd8928;
}

p, blockquote {
  margin-top: 2em;
  margin-bottom: 1.5em;
  line-height: 1.5;
}


nav, blockquote cite, footer { font-family: 'DM Sans', sans-serif;}

cite{
  font-size: 0.75em;
  font-style: normal;
  color: #878787;
  line-height: 0.5em;
  text-align: center;
}


blockquote {
  color: #cd8928;
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 1em;
  hanging-punctuation: first;
  text-indent: -0.05em;
  font-family: 'Cabin', sans-serif;
  font-size: 1.4em;
  border-left: 10px solid #333;
}

blockquote cite {
  font-size: 0.75em;
  color: #1a1a1a;
}



/*------ HEADER ------*/


.grid-container {
  display: grid;
  justify-content: center;
  align-items:center;
  grid-template-columns: auto auto;
}
.arm-illustration {
  border: 0;
  padding: 0 2em;
}

.page-title {
    border: 0;
    padding: 0 0 2em 0;
  }

  header h3 {
    text-transform:uppercase;
    margin: 2em 0;
    font-size: 1.2em;
    color: #878787;
  }

  /*------ STYLING LINKS ------*/
  a {
    text-decoration: none;
    color: #f5f5f5;
  }

  a:visited {
    color: #f5f5f5;
  }

  a:hover {
    color: #cc9a5e;
    transition: all 0.2s ease-in-out;}

  }

/*------ NAVIGATION ------*/

a {
    color: #f2f2f2;
    text-decoration: none;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

nav {
    padding: 1em 0;
    margin-bottom: 4em;
    background: #1a1a1a;
}

nav ul {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    font-size: 0.75em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
}

nav ul li {
    display: inline;
    margin: 12px;
}

nav a:hover {
    border-bottom: none;
    color: #cc9a5e;
}



/*------ IMAGES ------*/

img {
  display: block;
  margin: 4em 0 1em 0;
  padding: 0;
  max-width: 100%;
}

.arm {
margin: 0 0 3em 0;
}

.rose {
  margin: auto;
  padding-bottom: 3em;
}


.bars-left {
  float: left;
  margin: 0 0 0 0;
  padding: 2em 0em 4em 0;
  max-width: 25%;
}

.bars-right {
  float: right;
  margin: auto;
  padding: 2em 0 4em 0em;
  max-width: 25%;
}

.bass-boarder {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 6em 0 0 0;
  max-width: 100%;
  height: auto;
}

/*------ BIBILOGRAPHY ------*/

.background-colour {
  background-color: #1a1a1a;
  padding: 0.25em 0 6em 0;
  color: #f5f5f5;
}

#bibliography-title {
  font-weight: 700;
  font-size: 1.9em;
  color: #cc9a5e;
}

.references {
  font-size: 0.8em;
  line-height: 1}

li {
 margin: 10px 0;
}

a:link a:hover {
        fill:  #cc9a5e;
        transition: all 0.2s ease-in-out;}

/*------ FOOTER ------*/

footer {
  text-align: center;
  font-size: 0.707em;
  padding: 2em 0 8em 0;
  margin: auto;
  color: #fafafa;
  background: #1a1a1a;
}

.connections{
  position: relative;
  margin: 0 auto;
}
.connections ul{
  margin: 0;
  padding: 0;
}
.connections li{
  margin: 0 10px;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.connections a:link{
  border-bottom: none;
}
.connections img,
.connections svg{
  border: none;
}
.connections a:hover img,
.connections a:hover svg{
  border-bottom: none;}

.connections svg {
      margin: 2em auto;}

.connections a:hover svg path {
      fill: #cc9a5e;
      transition: all 0.2s ease-in-out;}

footer .connections a:hover svg path {
        fill:  #cc9a5e;
        transition: all 0.2s ease-in-out;}


/*------ MEDIA ------*/

@media only screen and (max-width: 710px) {

section {
    width: 90%;
    margin: auto;
  }

 header {
   margin: 1em 0 0 2.5em
 }

  .arm-illustration {
    display: none
  }
}

@media only screen and (max-width: 1250px) {
  .bars-right{
    display: none
  }

  .bars-left {
    display: none
  }
}
